@charset "UTF-8";


/* font */

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* body */

*{margin:0; padding:0;}
html{height:100%;}

body::-webkit-scrollbar {display:none;}
ul,li,ol {list-style: none;}
a{text-decoration: none; color:black;}

/* hamburger */
#top{position:relative;}


#top .container{position:absolute; z-index: 10; top:10%; left:10%;}    


.nav{width:100%; height:50px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin-top: 10px;}

.navv {width:100%;
    height:500px;
    
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nav{width:400px; height:100vh; margin:0; padding:0;
    position: fixed; 
    left:-400px; opacity:0.9;
    background-color: #fdfcfa;}

.navv>li>a{text-decoration: none;
    color:black; 
    position:relative; 
    display: flex;
    transition:all 0.5s ease;
    }

.navv>li>a:hover{opacity: 0.5;}    




.navv>li {float:left;  
    font-size:24px; 
    margin:5px 28px;
    font-family: 'Oswald', sans-serif;}

.navv2 {margin:30px;}    

.fas {
    position:absolute; right:-40px; top:1%;
    display: block;  font-size: 30px; text-decoration: none; transition: all 0.3s ease;}

#sns {width:170px; height:50px; 
    display: flex;
        justify-content: center;
        position:absolute;
        top:65%; left:0;
        z-index:3;
    }
#sns img{width:25px; height:auto; margin:10px;
    float:left;
    transition:all 0.5s ease;}

#sns img:hover{opacity: 0.5;}
/* logo */
#logo{position: absolute; top:0; left:2%; z-index:200; position:fixed; }
#logo img{width:250px; height:auto;}



/* main */
header {position: relative;}

#text {font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 90px;
    letter-spacing:-5px;
    text-align: center;
    line-height:80px;
    width:600px; height:180px; 
    position:absolute; top:260px; left:450px;
    z-index: 200;
    transform:translateX(-500px); transition:all 2.5s; opacity: 0;
    }



#contents>div{height:100vh;}


#section1{background-color:#fdfcfa; position: relative;}
#section1 img{width:100%; height:100%;}

#section1 a span{ position: absolute;
                    bottom:8%;
                    left: 50%;
                    width: 24px;
                    height: 24px;
                    margin-left: -12px;
                    border-left: 1px solid black;
                    border-bottom: 1px solid black;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-animation: sdb05 2s infinite;
                    animation: sdb05 2s infinite;
                    box-sizing: border-box;}

    @-webkit-keyframes sdb05 {
    0% {-webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;}
    50% {opacity: 1;}
    100% {-webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;}
        }

    @keyframes sdb05 {
    0% {transform: rotate(-45deg) translate(0, 0);
        opacity: 0;}
    50% {opacity: 1;}
    100% {transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;}
        }


#section2{ display: flex; background-color: #fdfcfa; }
.half {width:50%; height:100%; 
    display:flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
     }



.modelback{width:750px; height:auto; }

           
.half p{width:100%; height:40px;
    text-align: center;
    font-family: 'MaruBuri-Regular';
    letter-spacing: 1px;
    font-size: 23px;
    }      
         
#section3{background-color:lightgray;}

#section4

/* #section5{background-color:lightsalmon;} */
/* horizontal scroll */


#section6{background-color:lightskyblue;}

#section7{background-color:lightslategray;}

#section8{background-color:lime;}


